# Database Neon PostgreSQL URL
DATABASE_URL="postgres://user:password@host.neon.tech/dbname?sslmode=require"

# Auth.js / NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-min-32-chars"
AUTH_SECRET="your-auth-secret-min-32-chars"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Admin Initial Credentials
ADMIN_EMAIL="admin@kukusangenz.com"
ADMIN_PASSWORD="admin123"

# UMKM WhatsApp Contact
NEXT_PUBLIC_WHATSAPP_NUMBER="6281234567890"

